@import "../../Variables.scss";

.news-item .main-wrapper {
  border-radius: 10px;
  overflow: hidden;
  background-color: $background-color-news;
  display: flex;
  flex-direction: column;

  .content {
    background-color: $background-color-news;
  }

  .image-wrapper {
    overflow: hidden;
  }

  .image {
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: $main-transition;

    &:hover {
      transform: scale(1.1);
    }
  }

  .content-wrapper {
    padding: 30px;

    h5 {
      transition: $main-transition;

      &:hover {
        color: $secondary-color;
      }
    }

    .read-more {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      margin-top: 20px;
      color: $dark20-text-color;
      transition: $main-transition;

      &:hover {
        color: $secondary-color;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .news-item {
    margin-bottom: 30px;
  }
}
