.service-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  text-align: center;
  background-color: #5c5d64;
  border-radius: 10px;
  padding: 60px 30px;
  height: 100%;
}

.service-item .icon {
  background-color: #ffb324;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0px solid #b47500;
  transition: ease-in-out 0.25s;
}

.service-item .icon i {
  font-size: 30px;
}
