.service-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  text-align: center;
  background-color: #5c5d64;
  border-radius: 10px;
  padding: 60px 30px;
  height: 100%;

  .icon {
    background-color: #ffb324;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0px solid #b47500;
    transition: ease-in-out 0.25s;

    i {
      font-size: 30px;
    }
  }
}

@media screen and (max-width: 386px) {
  .service-item {
    padding: 30px 20px;
  }
}
