footer {
  padding-top: 20px;
}

footer p {
  margin-bottom: 0;
}

footer .footer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #a7afbd;
}

footer .footer-wrapper a {
  color: #ff451b;
  transition: ease-in-out .25s;
}

footer .footer-wrapper a:hover {
  color: #ffb324;
}
