.about-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.about-info .logo {
    width: 100%;
}

.about-info p {
    font-size: 20px;
    color: #a7afbd;
}