* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #1d1b1b;
  color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: inherit;
}

.primary-button {
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px 35px;
  background-color: #ff451b;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: ease-in-out .25s;
}

.primary-button:hover {
  background-color: #fd5a35;
}

main .container {
  background-color: #494b50;
  border-radius: 10px;
  padding: 50px;
}